<div class="form">
<%= form_for(@user) do |f| %>
	<div class="form-group">
		<div class="col-md-4">
			Nome: <%= f.text_field :name, class: "form-control"%>
		</div>
    <div class="col-md-4">
			E-mail: <%= f.text_field :email, class: "form-control"%><br>
		</div>
	</div>
	<br><br><br><br>
  <div class="form-group">
    <div class="col-md-4">
			Telefone: <%= f.text_field :fone_number, class: "form-control"%><br>
		</div>
    <div class="col-md-4">
			Matrícula: <%= f.text_field :registration, class: "form-control"%><br>
		</div>
	</div>
	<br><br><br><br>
  <div class="form-group">
    <div class="col-md-4">
			CPF: <%= f.text_field :cpf, class: "form-control"%><br>
		</div>
	</div>
	<br><br><br><br>
	<div class="form-group col-md-4">
	Curso: <br>
	<label class="custom-control custom-radio">
		<%= f.radio_button :course, "Engenharias", class: "custom-control-input" %>
		<span class="custom-control-indicator"></span>
		<span class="custom-control-description">Engenharias</span>
	</label><br>
  <label class="custom-control custom-radio">
    <%= f.radio_button :course, "Engenharia Aeroespacial", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Engenharia Aeroespacial</span>
  </label><br>
  <label class="custom-control custom-radio">
    <%= f.radio_button :course, "Engenharia Automotiva", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Engenharia Automotiva</span>
  </label><br>
  <label class="custom-control custom-radio">
    <%= f.radio_button :course, "Engenharia de Energia", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Engenharia de Energia</span>
  </label><br>
  <label class="custom-control custom-radio">
    <%= f.radio_button :course, "Engenharia de Software", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Engenharia de Software</span>
  </label><br>
  <label class="custom-control custom-radio">
    <%= f.radio_button :course, "Engenharia Eletrônica", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Engenharia Eletrônica</span>
  </label><br>
	</div>
	<div class="form-group col-md-4">
	Coordenação:<br>
  <label class="custom-control custom-radio">
    <%= f.radio_button :coordenation, "Diretoria", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Mesa Diretora</span>
  </label>
  <label class="custom-control custom-radio">
    <%= f.radio_button :coordenation, "Comunicacao", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Comunicação</span>
  </label><br>
  <label class="custom-control custom-radio">
    <%= f.radio_button :coordenation, "Esportes e Lazer", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Esportes e Lazer</span>
  </label>
  <label class="custom-control custom-radio">
    <%= f.radio_button :coordenation, "Infraestrutura", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Infraestrutura</span>
  </label><br>
  <label class="custom-control custom-radio">
    <%= f.radio_button :coordenation, "Producao", class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Produção</span>
  </label>
	</div>
  <br><br><br><br><br><br>
	<div class="form-group col-md-4">
	Função:<br>
  <label class="custom-control custom-radio">
    <%= f.radio_button :hole, true, class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Coordenador</span>
	</label>
  <label class="custom-control custom-radio">
    <%= f.radio_button :hole, false, class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Membro</span>
  </label>
	</div><br><br><br><br>
	<div class="form-group">
		<div class="col-md-4">
			Password: <%= f.password_field :password, class: "form-control"%><br>
		</div>
		<div class="col-md-4">
			Password Confirmation: <%= f.password_field :password_confirmation, class: "form-control" %><br>
		</div>
	</div> <br><br><br><br>
	<div class="form-group">
		<div class="col-md-4">
			<%= link_to "Voltar", users_path, method: :get, class: "btn btn-danger" %>
		</div>
		<div class="col-md-4">
			<%= f.submit "Submit", class:"btn btn-success float-xs-right"%>
		</div>
	</div>
<% end %><br><br>
</div>
