<nav class="navbar navbar-dark bg-inverse">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link" href="#">Início<span class="sr-only">(current)</span></a>
    <%= link_to "Equipe", users_path, method: :get, class: "nav-item nav-link active" %>
    <a class="nav-item nav-link" href="#">Coordenações</a>
    <% if logged_in? %>
    <%= link_to "Sair", logout_path(current_user), method: :delete, class: "nav-item nav-link float-xs-right" %>
		<% else %>
    <%= link_to "Login", login_path, method: :get, class: "nav-item nav-link float-xs-right" %>
    <% end %>
  </div>
</nav>
<% if logged_in?%>
<% if current_user.hole %>
<%= button_to 'Novo membro', new_user_path, method: :get, class: "btn btn-success new-button" %>
<% end %>
<% end %>
<%for i in 0..4%>
	<div class="aa alert alert-info col-md-7" role="alert">
	  <strong><%= @coord[i] %></strong>
	</div>
	<div class="form">
		<% @users[i].each do |person| %>
			<div class="card col-md-8">
			  <div class="card-header">
			    <h5><%= person.name %></h5>
			  </div>
		  	<div class="card-block">
		  	  <h5 class="card-title"><%= person.course%></h5>
		  	  <p class="card-text"><%= person.email%></p>
					<% if logged_in?%>
					<% if current_user.hole %>
					<%= link_to "Excluir", user_path(person), method: :delete, class: "float-xs-right btn btn-danger esp"%>
					<%= link_to "Editar", edit_user_path(person), class: "float-xs-right btn btn-primary esp"%>
					<% end %>
					<% end %>
					<%= link_to "Info", user_path(person), class: "float-xs-right btn btn-info esp"%>
		  	</div>
			</div>	
		<% end %>
	</div>
<% end %>
